# Ignore Python virtual environment
.venv/
venv/
ENV/
env/

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebooks
ok.ipynb

# Ignore main app file
app.py

# Ignore research folder
research_paper/

# Ignore temp files
*.pdf

# Ignore Python venv
.venv/
venv/
ENV/
env/
rag/Lib/
