streamlit
pandas
numpy
python-dotenv
langchain-core
langchain-chroma
langchain-groq
chromadb
faiss-cpu
langchain
pypdf
bs4
wikipedia
langchain-community
sentence-transformers
duckdb
duckduckgo-search
pytube
numexpr
unstructured
validators
SQLAlchemy
youtube-transcript-api
pymupdf
torch
transformers
huggingface-hub
