ipykernel
pandas
numpy
python-dotenv
arxiv
langchain_core
langchain_chroma
langchain-groq
chromadb
faiss-cpu
langchain
pypdf
bs4
wikipedia
langchain-community
sentence_transformers
duckdb
duckduckgo-search
pytube
numexpr
unstructured
validators
SQLAlchemy
youtube_transcript_api
pymupdf
arxiv
